.cart {
  text-align: center;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
}

.cart h2 {
  font-weight: 600;
  color: #3f61ad;
}

.cart-card {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-size: 16px;
  padding: 30px 0;
  margin-top: 10px;
  width: 100%;
}

.cart-container {
  display: flex;
  gap: 20px;
}

.cart-items {
  width: 100%;
}

.summary {
  width: 35%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgb(17 17 17 / 16%);
  padding: 30px;
  text-align: left;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item {
  box-shadow: 0px 0px 6px rgb(17 17 17 / 16%);
  border-radius: 10px;
  display: flex;
  padding: 30px;
  position: relative;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.cart-button {
  display: flex;
  justify-content: end;
}

.cart-button button {
  background-color: #3f61ad;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.quantity-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 70px;
  border-radius: 10px;
  gap: 5px;
  padding: 0 20px;
  margin-top: 5px;
}

.quantity-counter input {
  width: 10px;
  text-align: center;
}

#minus-button,
#add-button {
  display: flex;
  align-items: center;
}

.row-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-image {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.cart-detail {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.remove-cart {
  position: absolute;
  top: 20px;
  display: flex;
  left: 20px;
  z-index: 50;
}
.detail-gray {
  font-size: 16px;
  color: #666666;
}

.detail-black {
  color: black;
  font-weight: 600;
}

.cart-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-items {
  width: 100%;
  text-align: center;
  max-width: 1336px;
  margin: auto;
  padding: 128px 0;
}

.totalOrder td {
  font-size: 18px !important;
}
