/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #353c44;
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1336px;
  margin: auto;
  padding: 100px 0;
}

.product-container {
  max-width: 970px;
  margin: auto;
  padding: 50px 0;
}

.cart-container {
  max-width: 1336px;
  margin: auto;
  padding: 50px 0;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 120px;
  padding: 10px;
}

.btn-light {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 600;
  gap: 5px;
  width: 170px;
  padding: 15px 0;
  margin: 20px auto 0 auto;
  color: white;
  font-size: 16px;
}

.title {
  color: #303e47;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.title-bold {
  color: #303e47;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  color: #666666;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #111111;
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
}

button {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

input,
select {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #999999;
}
textarea {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #999999;
}

label {
  color: #999999;
  font-size: 14px;
}

::placeholder {
  color: #999999;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #999999;
}
input:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.card {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 15px auto 0 auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
}

/* navbar section */
.logo {
  line-height: 0;
  display: flex;
  align-items: center;
}

#navigation-bar {
  position: sticky;
  z-index: 30;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1336px;
  margin: auto;
  background-color: white;
}

.logo {
  font-size: 20px;
  letter-spacing: 5px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.dropbtn {
  align-items: center;
  border: none;
  display: flex;
  font-size: 13px;
  gap: 10px;
}

#user {
  color: #111111 !important;
  text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 5px;
  font-size: 13px;
}

/* Links inside the dropdown */
.dropdown-content a,
.logout {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover,
.logout:hover {
  background-color: white;
  color: #3f61ad;
}

.svg-items {
  display: flex;
  font-size: 13px;
  gap: 20px;
  align-items: center;
  color: white;
  font-weight: 500;
}

.logout {
  border: none;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  margin: 0 2px;
  letter-spacing: normal;
  cursor: pointer;
  text-transform: uppercase;
}

#op1 {
  display: block;
}

#op2 {
  display: none;
}

.navImage {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172b4d;
  color: white !important;
}

.navImage img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: none;
}

#navImage {
  display: none;
}

#profileImage {
  display: none;
}

/* footer section */

footer {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.footer-content {
  display: inline-grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  /* margin-top: 50px; */
}

.footer-content h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  color: #111111;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.two-column {
  display: inline-grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: auto;
}

.footer-item a {
  color: #666666;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 14px;
}

.footer-item a:hover {
  color: #3f61ad;
  transition: all 0.3 ease-in-out;
}

footer h3,
p {
  cursor: default;
}

.footer-bottom {
  background-color: #f7f7f7;
}

.footer-container {
  max-width: 1336px;
  margin: auto;
  padding: 20px 0;
  color: #999999;
  font-size: 13px;
  text-align: center;
}

.backToTop svg {
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto 30px auto;
}

.scroll {
  cursor: pointer;
}

/* newsletter section */
.newsletter {
  background-image: url(../public/images/newsletter-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  gap: 10px;
}

.newsletter-form {
  display: flex;
  width: 35%;
  margin-top: 10px;
}

.newsletter-form input {
  border-radius: 10px 0 0 10px;
  display: flex;
  width: 75%;
}

.newsletter-form button {
  display: flex;
  width: 40%;
  background-color: #4977bc;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.two-column-input {
  display: flex;
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* margin-bottom: 40px; */
}

.pagination a {
  font-weight: bold;
  font-size: 13px;
  color: black;
  float: left;
  padding: 12px 16px;
  text-decoration: none;
  border: 1px solid #527092;
  border-radius: 3px;
  margin: 2px 5px;
}
.pagination a.active {
  background-color: #527092;
  color: white;
}
.pagination a:hover:not(.active) {
  border: 1px solid #8ba1bb;
  background-color: #8ba1bb;
  color: white;
}

.item-number {
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 100px;
  background-color: #527092;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
}

.cart,
.wishlist {
  position: relative;
}

/* Status */
.orange-text {
  color: #d8930a;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.green-text {
  color: #006e07;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.red-text {
  color: #d62626;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
